@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto';
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F5F5F6;
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu {
    display: none;
}
.head {
    width: 20%;
}
.logo {
    margin: 15px 0px 0px 100px;
    width: 89px;
    height: 23px;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-right: 109px;
}

.sing-in {
    margin-right: -20px;
    margin-top: 9px;
    width: 65px;
    height: 33px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none
}

h1 {
    font-size: 36px;
}

main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.blocks {
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#selected {
    background: #833AE0;
    color: white;
}

button {
    background-color: white;
    border: none;
}

.table {
    display: flex;
    flex-direction: row;
}

.table div {
    height: 30px;
    width: 25%;
    border: 1px solid #C6C6C6;
    display: flex;
    justify-content: center;
}

.table div button {
    color: #C6C6C6;
}

.rounded-1, .rounded-1 button {
    border-radius: 5px 0px 0px 5px;
}

.rounded-2, .rounded-2 button {
    border-radius: 0px 5px 5px 0px;
}

.converter {
    width: 100%;
    border: 1px solid #C6C6C6;
    margin-top: 20px;
    border-radius: 10px;
}

input {
    width: 70%;
    outline: none;
    border: none;
    font-size: 20px;
    margin: 10px 0px 0px 10px;
}

.converter p{
    margin-left: 14px;
}

.blocks p {
    color: #C6C6C6;
}

@media  (max-width: 1185px) {
    .logo {
        margin: 10px 64px 0px 40%;
        width: 69px;
        height: 13px;
    }
    
    .list {
        font-size: 11px;
    }
    

    .sing-in {
        font-size: 11px;
        margin-top: 6px;
        height: 23px;
    }

    h1 {
        font-size: 25px;
    }
    
    main {
        font-size: 13px;
    }
    
    .blocks {
        width: 550px;
    }
    .table div {
        height: 25px;
    }
    .table div button {
       font-size: 12px;
    }
    
    input {
        font-size: 15px;
    }
    
    .converter p{
        font-size: 12px;
    }
    
    .blocks p {
        color: #C6C6C6;
    }
}

@media  (max-width: 800px) { 
    main {
        margin-top: 10px;
    }

    header {
        flex-direction: column;
    }

    .logo {
        width: 89px;
        height: 23px;
        margin-bottom: 10px;
        margin-left: 50px; 
    }
    .head {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .list, .sing-in {
        display: none;
    }
    
    .menu {
        display: block;
        width: 30px;
        height: 30px;
        margin: 7px 30px 0px 0px;
    }

    .blocks {
        width: 50vw;
        flex-direction: column;
    }

    .list {
        background-color: #F5F5F6;
        position: absolute;
        width: 30vw;
        height: 70%;
        top: 40px;
        right: -109px;
        bottom: 0px;
        flex-direction: column;
        justify-content: space-around;
    }

    .sing-in {
        align-items: center;
        font-size: 14px;
        margin-bottom: 10px;
        margin-left: -10px;
        width: 65px;
        height: 33px;
    }
    
    .list {
        font-size: 14px;
        flex-wrap: wrap;
        align-items: center;
    }
}
