@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto';
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F5F5F6;
    width: 100%;
    margin: 0;
    padding: 0;
}

.logo {
    margin: 15px 64px 0px 100px;
    width: 89px;
    height: 23px;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    margin-right: 109px;
}

.sing-in {
    margin-right: 102px;
    margin-top: 9px;
    width: 65px;
    height: 33px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none
}

h1 {
    font-size: 36px;
}

main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.blocks {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#selected {
    background: #833AE0;
    color: white;
}

button {
    background-color: white;
    border: none;
}

table {
    border-collapse:collapse;
}

th {
    border: 1px solid #C6C6C6;
}

th button {
    color: #C6C6C6;
}

.converter {
    width: 13vw;
    border: 1px solid #C6C6C6;
    margin-top: 20px;
    border-radius: 10px;
}

input {
    width: 70%;
    outline: none;
    border: none;
    font-size: 25px;
    margin: 10px 0px 0px 10px;
}

.converter p{
    margin-left: 14px;
}

.blocks p {
    color: #C6C6C6;
}